<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook" id="faccebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;Wanderlust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            
            <a href="/privacy">Privacy</a>
            <a href="/privacy">Privacy</a>
            <a href="/privacy">Privacy</a> 
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
 -->


 <!-- <footer>
    <div class="f-info">
      
      <div class="f-info-socials">
        <a href="https://www.facebook.com/yourpage" target="_blank" id="facebook" aria-label="Facebook">
          <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="https://www.instagram.com/yourpage" target="_blank" aria-label="Instagram">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/yourpage" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
     
      <div class="f-info-brand">&copy; Wanderlust private limited</div>
      
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </footer> -->


 
  <footer>
    <div class="f-info">
     
      <div class="f-info-socials">
        <a href="https://www.facebook.com/yourpage" target="_blank" id="facebook" aria-label="Facebook">
          <i class="fa-brands fa-square-facebook" style="color: #1877F2;"></i>
        </a>
        <a href="https://www.instagram.com/yourpage" target="_blank" aria-label="Instagram">
          <i class="fa-brands fa-square-instagram" style="color: #E4405F;"></i>
        </a>
        <a href="https://www.linkedin.com/yourpage" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin" style="color: #0077B5;"></i>
        </a>
      </div>
      
      <div class="f-info-brand">&copy; Wanderlust private limited</div>
      
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </footer>
  